<ion-view view-title="首页">
  <ion-content class="bar-tabs">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000">
      <ion-slide>
        <div class="id"><img src="images/1.jpg" style="height:100%;width:100%"> </div>
      </ion-slide>
      <ion-slide>
        <div class="id"><img src="images/2.jpg" style="height:100%;width:100%"> </div>
      </ion-slide>
      <ion-slide>
        <div class="id"><img src="images/3.jpg" style="height:100%;width:100%"> </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
<!--
<ion-view view-title="首页">
  <ion-content class="bar-tabs">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000">
      <ion-slide>
        <div class="id"><img src="images/1.jpg" style="height:100%;width:100%"> </div>
      </ion-slide>
      <ion-slide>
        <div class="id"><img src="images/2.jpg" style="height:100%;width:100%"> </div>
      </ion-slide>
      <ion-slide>
        <div class="id"><img src="images/3.jpg" style="height:100%;width:100%"> </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>-->
