<ion-view view-title="活动">
  <ion-content style="background: #ccc;">
    <a class="item-remove-animate" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/activity/{{chat.id}}">
      <div class="card">
        <div class="item">
          <h3 class="title" style="font-size: 16px;line-height: 24px;font-weight: bold">{{chat.name}}</h3>
          <p>{{chat.tiem}}</p>
          <img ng-src="images/{{chat.imgsrc}}" style="width:100%;">
          <p>{{chat.content}}</p>
        </div>
        <span class="lianjie">点击查看详情</span>
      </div>
    </a>
    <div style="width:98%;height:40px;background: #fff;margin:0 auto;border-radius: 6px;">
      <button ng-click="top()" style="width:100%;height:100%;margin:0 auto;border: none;background: #fff;border-radius: 6px;">top</button>
    </div>
  </ion-content>
</ion-view>
